<% include partials/header%>
<div class=" main-content landing-page">
    <div class="lp-content">
        <h1 class="title">Let's Camp Buddies</h1>
        <p class="subtitle">This Site has all the awesome campgrounds from all over the world</p>   
        <a href="/campgrounds" class="btn btn-primary btn-lg"> View all campgrounds</a>
    </div>
</div>


<% include partials/footer%>