<% include partials/header%>
	<h1>Create a new CampGround</h1>
	<form method="POST" action="/campgrounds">
		<input type="text" name="name" placeholder="Enter Campground Name">
		<input type="text" name="image" placeholder="Enter image URL">
		<button class="btn-default">Submit</button>
	</form>
	<a href="/campgrounds">Back</a>
<%include partials/footer%>