div.main-content {
	margin-top: 70px;
}

p i	{
	display: inline;
	float: right;
}

.liked{
	color : #ff0000;
	font-size: 1.2em;
	
}

a.card-text{
	font-size: 0.75rem;
}

a.btn-warning {
	color: rgb(255, 255, 255);
}

#del{
	display: inline;
}